{% extends config.layout %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="{{ asset('bundles/balibaliblog/form.js?20110123') }}"></script>
{% include "BalibaliBlogBundle:Post:syntaxhighlight.html.twig" %}
{% endblock %}
{% block title %}Edit Post{% endblock %}
{% block content %}

<h1>{{ block('title') }}</h1>

<form action="{{ path('balibali_blog_backend_update', { 'id': form.getData.id }) }}" method="post">
<input type="hidden" name="_method" value="put">
{{ form_field(form) }}
<input type="submit" value="Post">
<input type="button" value="Preview" id="preview_button">
</form>

{% include "BalibaliBlogBundle:Post:preview.html.twig" %}

<div class="back-link">
<a href="{{ path('balibali_blog_backend_index') }}">Back to Index</a>
</div>

{% endblock %}
