<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ config.title }}</title>
    <link>{{ url('balibali_blog_frontend_index') }}</link>
    <description>{{ config.description }}</description>
    <atom:link href="{{ url('balibali_blog_frontend_feed', { '_format': 'xml' }) }}" rel="self" type="application/rss+xml" />
{% for post in posts %}
{% set permalink =
    url('balibali_blog_frontend_show',
        {
          'year':  post.publishedAt.format('Y'),
          'month': post.publishedAt.format('m'),
          'slug':  post.slug
        }) %}
    <item>
        <title>{{ post.title }}</title>
        <link>{{ permalink }}</link>
        <guid isPermaLink="true">{{ permalink }}</guid>
        <pubDate>{{ post.publishedAt.format('r') }}</pubDate>
        <description>{{ post.body }}</description>
    </item>
{% endfor %}
  </channel>
</rss>
