{% extends config.layout %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
{% endblock %}
{% block title %}Manage Posts{% endblock %}
{% block content %}

<h1>{{ block('title') }}</h1>

{% if posts.count %}
<table>
<tr>
<th>Title</th>
<th>Published at</th>
<th colspan="2"></th>
</tr>
{% for post in posts %}
<tr>
<td>{{ post.title }}</td>
<td>{{ post.publishedAt.format('Y-m-d H:i') }}</td>
<td>
<form action="{{ path('balibali_blog_backend_edit', { 'id': post.id }) }}" method="get">
<input type="submit" value="Edit">
</form>
</td>
<td>
<form action="{{ path('balibali_blog_backend_delete', { 'id': post.id }) }}" method="post" class="delete">
<input type="hidden" name="_method" value="delete">
{{ form_hidden(form) }}
<input type="submit" value="Delete">
</form>
</td>
</tr>
{% endfor %}
</table>
<script>$("form.delete").submit(function(){return confirm('Do you really want to delete this post?');});</script>
{% endif %}

<div class="back-link">
<a href="{{ path('balibali_blog_backend_new') }}">New Post</a>
</div>

{% endblock %}
