{% extends config.layout %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="{{ asset('bundles/balibaliblog/form.js?20110123') }}"></script>
{% include "BalibaliBlogBundle:Post:syntaxhighlight.html.twig" %}
{% endblock %}
{% block title %}New Post{% endblock %}
{% block content %}

<h1>{{ block('title') }}</h1>

<form action="{{ path('balibali_blog_backend_create') }}" method="post">
{{ form_field(form) }}
<input type="submit" value="Post">
<input type="button" value="Preview" id="preview_button">
</form>

{% include "BalibaliBlogBundle:Post:preview.html.twig" %}

<div class="back-link">
<a href="{{ path('balibali_blog_backend_index') }}">Back to Index</a>
</div>

<script>
var slug = true;
$('#post_title').change(function() { if (slug) $('#post_slug').val(slugify($(this).val())); });
$('#post_slug').change(function() { slug = false });
function slugify(text) { return text.toLowerCase().replace(/[^0-9a-z]+/g,'-').replace(/-+/g,'-').replace(/^-/,'').replace(/-$/,''); }
</script>
{% endblock %}
