{% extends config.layout %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="Recent Posts" href="{{ url('balibali_blog_frontend_feed', { '_format': 'xml' }) }}">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="post">
<h1>{{ block('title') }}</h1>
<div class="date">{{ post.publishedAt.format('F d, Y') }}</div>
<div class="body">{{ post.body|raw }}</div>
</div>

<div class="back-link">
<a href="{{ path('balibali_blog_frontend_index') }}">Back to Index</a>
</div>

{% endblock %}
