{% extends config.layout %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="Recent Posts" href="{{ url('balibali_blog_frontend_feed', { '_format': 'xml' }) }}">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<article>
<header>
<h1>{{ block('title') }}</h1>
<p class="date"><time pubdate datetime="{{ post.publishedAt.format('c') }}">{{ post.publishedAt.format('F d, Y') }}</time></p>
</header>
{{ post.body|raw }}
</article>

<div class="back-link">
<a href="{{ path('balibali_blog_frontend_index') }}">Back to Index</a>
</div>

{% endblock %}
