{% extends config.layout %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="Recent Posts" href="{{ url('balibali_blog_frontend_feed', { '_format': 'xml' }) }}">
<link rel="stylesheet" href="{{ asset('bundles/balibaliblog/syntaxhighlighter.css?20110123') }}">
<script src="{{ asset('bundles/balibaliblog/syntaxhighlighter.js?20110123') }}"></script>
<script>
SyntaxHighlighter.defaults['auto-links'] = false;
SyntaxHighlighter.defaults['gutter']     = false;
SyntaxHighlighter.defaults['toolbar']    = false;
SyntaxHighlighter.all();
</script>
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<article>
<header>
<h1>{{ block('title') }}</h1>
<p class="date"><time pubdate datetime="{{ post.publishedAt.format('c') }}">{{ post.publishedAt.format('F d, Y') }}</time></p>
</header>
{{ post.body|raw }}
</article>

<div class="back-link">
<a href="{{ path('balibali_blog_frontend_index') }}">Back to Index</a>
</div>

{% endblock %}
